*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'gilroy';

}



.background
{
    background: rgba(0, 0, 0, 0.7) url('../bg-main.png');
    background-size: 90%;
    background-blend-mode: darken;
}







